*{
    padding: 0;
    margin: 0;
}

main{
    display: flex;
    flex-direction: column;
   align-items:  center;
   padding: 2em;
}

input{
    font-size: 15px;
    margin: 1em;
    text-align: left;
    border: none;
    outline: none;

}

#form-ccontainer{
width: 300px;  
  margin: 32px auto 16px auto;

}
form{
    display: flex;
    flex-direction: column;
    padding: 0.5em;
    margin: 2.7em;
    border-radius: 6%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
}

button{
    float: right;
    margin: 0.5em;
    padding: 0.9em;
    border-radius: 7%;
    border: none;
}

#form-button{
        display: none;

}

#submit-button{
    background-color: rgb(0, 0, 255);
    color: #fff;
}


#to-do-title{
    display: none;
}

 

#to-do-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.note{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 16px;
    width: 250px;
    background-color: #fff;
  border-color: #e0e0e0;
  border: 1px solid #d3d3d3;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
  transition-duration: 0.218s;
  transition-property: background, border, opacity, box-shadow, transform;
  transition-timing-function: ease-in;
}
.note-text {
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 1.5rem;
    min-height: 30px;
    letter-spacing: 0.01428571em;
    padding: 4px 16px 12px 16px;
    box-sizing: border-box;
    font-variant-ligatures: none;
    outline: none;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  
  .toolbar {
    flex-direction: row-reverse;
    align-items: center;
    display: flex;
    font-size: 12px;
    line-height: 26px;
    margin: 4px 0;
    position: relative;
    transition: opacity 0.218s ease-in-out, background-color 0.218s ease-in-out,
      box-shadow 0.218s ease-in-out;
  }

  #color-tooltip {
    border-bottom: 2px solid #fff;
    position: absolute;
    top: -40;
    background: #fff;
    border: 1px solid black;
    left:0;
    border-radius: 5px;
    display: none;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 5px 7px 3px;
    width: 136px;
    height: 40px;
    justify-content: space-between;
  }
  .toolbar-color,
  .toolbar-delete {
    height: 20px;
    margin: 0 8px;
    position: relative;
    width: 20px;
    margin: 0 3px;
    cursor: pointer;
    color: #202124;
    opacity: 0.71;
  }
  #white {
    background: white;
  }
  
  #purple {
    background: #d7aefb;
  }
  
  #orange {
    background: #fbbc04;
  }
  
  #teal {
    background: #a7ffeb;
  }
  
  .color-option {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #dedede;
  }
  
  
  .toolbar-color-modal {
    display: none;
  }

  .toolbar-delete{
    width: 12px;
    margin: 3px;
  }
  .toolbar-color{
    width: 12px;
    margin: 3px;

  }

 .note-title {
    padding-top: 12px;
    letter-spacing: 0.00625em;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    min-height: 38px;
    padding: 16px 16px 0 16px;
    transition: background-color 0.218s ease-in;
    box-sizing: border-box;
    font-variant-ligatures: none;
    outline: none;
    white-space: pre-wrap;
    word-wrap: break-word;
  }
  
.list-placeholder{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5em;
}
.list img{
    margin: 1.5em;
    width:200px;
    max-width: 100%;
    border-radius: 6%;
}

